
.signup-body{
   
    text-align: center;
    padding-left: 6px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.signup-form{
    width: 50%;
    text-align: left;
    
}